.game-board {
	background-color: pink;
}

.game-square {
	background-color: grey;
	width: 50px;
	height: 50px;
	margin: 3px;
	display: inline-block;
}
.skier {
	background-image: url("../images/retroskier.png");
	background-size: cover;
}
.tree {
	background-color: green;
}
.rock {
	background-color: black;
}
