.container {
	border: 6px solid black;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 712px;
    width: 720px;

}
.header {
	background-image: linear-gradient(420deg, orange, pink, blue);
	display: flex;
	width: 710px;
	 justify-content: center;
    align-items: center;
}
h1 {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 5px;
	}


/*---- Game Board styling ----*/

.game-board {
	background-color: pink;
	display: flex;
    justify-content: center;
    text-align: center;
 	flex-direction: row;
	height: 612px;
 	width: 710px;
 	

 }

.game-square {
	background-color: grey;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 3px;
}
.skier {
	background-image: url("../images/retroskier.png");
	background-size: cover;
}
.tree {
	background-color: green;
}
.rock {
	background-color: black;
}
.skierDown {
	background-color: red;
}

